<h1>My Portfolio</h1>
<div class="search-div">
  <%= form_tag 'search_stock', remote: true, method: :get do %>
    <div class="input-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :stock, params[:stock], class: 'form-control form-control-lg', placeholder: 'Enter ticket symbol' %>
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: 'btn btn-success' do %>
          <%= fa_icon "search 2x" %>
        <% end %>
      </div>
    </div>
</div>
  <% end %>
  <div id="result">
    <!-- this div renders the search result-->
  </div>
  <% unless @tracked_stocks.empty? %>
  <%=  render 'user/tracked_stocks'  %>
  <% end %>
